body,html{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #083344dc;
    color: blanchedalmond;
}
.footerForm{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
